:root {
  --purple-color: #794c74;
  --pink-color: #c56183;
  --lightpink-color: #ffaeae;
  --yellow-color: #fadcaa;
  --lightblue-color: #b2deec;
}
/*
font-family: 'Encode Sans', sans-serif;
font-family: 'Germania One', cursive;
font-family: 'Rasa', serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;

*/

* {
  margin: 0;
  font-family: "Roboto";
  font-size: 62.5%;
}

header {
  background: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 45px;
}

header .logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: calc(50% - 32px / 2);
}

.navbar {
  justify-self: flex-end;
  margin-right: 10px;
}
li {
  margin-right: 7px;
}
ul {
  display: flex;
}

.navbar-menu_item {
  color: var(--lightpink-color);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 10px;
}

.navbar-menu {
  list-style: none;
}

.hero {
  color: white;
  background: black;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px 0;
}

.hero-text {
  align-self: center;
  box-align: center;
  padding-bottom: 20px;
}

.hero-title {
  color: var(--yellow-color);
  font-size: 7rem;
  word-wrap: break-word;
  font-family: "Germania One";
  text-align: center;
}

.hero-subtitle {
  font-size: 2rem;
  font-family: "Rasa", sans-serif;
  text-align: center;
  color: var(--lightpink-color);
}

.hero-figure {
  width: auto;
  justify-self: end;
}

.hero-figure__image {
  max-width: 100%;
  height: auto;
}
.app-items {
  color: black;
  padding: 50px 0px;
  margin-left: 40%;
  align-content: center;
}
.app-content {
  display: grid;

  grid-template-columns: 30% 30% 30%;
}
.app {
  background: #ffaeae;
}
.app-title {
  font-size: 3rem;
  align-content: center;
  padding-left: 30px;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
}
.app-smart {
  font-size: 3.1rem;
  font-family: "Germania One", cursive;
  display: flex;
}

.app-img {
  padding-bottom: 20px;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  padding-right: 30px;
}
.app-text {
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 1.4rem;
}
.obj {
  background: linear-gradient(
      180deg,
      #ffaeae 16.15%,
      rgba(255, 255, 255, 0) 100%
    ),
    #b2deec;
  color: black;
}
.obj-titl {
  padding-top: 100px;

  font-size: 3rem;
  align-content: center;
  padding-left: 20px;
  padding-bottom: 30px;
  font-family: "Encode Sans", sans-serif;
}
.obj-text {
  padding: 30px 20px 10px 40px;
  font-size: 1.5rem;
  align-content: center;
  font-family: "Cousine", monospace;
  text-align: center;
}
